---
import PageLayout from '../../../layouts/PageLayout.astro';
import MarkdownEditor from '../../../components/vue/MarkDownEditor.vue';
---

<PageLayout title='Markdown Editor'>
	<h1>Markdown Editor</h1>
	<p>
		This is a simple Markdown editor built with Vue. Just for my own needs editing Markdown occasionally. It's built as
		a Vue component (previously React).
	</p>
	<MarkdownEditor client:load />
</PageLayout>

<style>
	p {
		max-width: 800px;
		margin: 1.5rem auto;
	}
</style>
