---
import PageLayout from '../../../layouts/PageLayout.astro'
import * as react from '../../../components/react/ToDoList'
---

<PageLayout title='React To-Do List'>
  <h1>React To-Do List</h1>
  <p>Simple to-do list built with React. Saves the list to the browser, not to the cloud.</p>
  <react.ToDoList />
</PageLayout>
