---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title='Web Developer and GENIUS'>
	<article class='content'>
		<h1 class='title'>Brandon Martin</h1>
		<h2 class='subtitle h4'>
			Web Developer and <span class='special'>GENIUS</span>
		</h2>
		<p>Looking for a contractor to help with web development?</p>
		<p>
			I've been a web developer since 2014, and I love making fast, accessible websites.
			<p>
				Message me on
				<a href='https://www.linkedin.com/in/brandon-martin' target='_blank' rel='noopener noreferrer'>LinkedIn</a>, or <a
					href='mailto:brandon.martin101@gmail.com'>send me an email.</a
				>
			</p>
		</p>
	</article>

	<style>
		.title {
			margin-top: 3rem;
		}
		.subtitle {
			margin-bottom: 3rem;
		}
		p {
			margin: 1rem 0;
		}
	</style>
</PageLayout>
