---
import '../styles/reset.css';
import '../styles/global.css';
import Helmet from '../components/Helmet.astro';
---
    
<html lang="en">
<Helmet />
<body>
    <header></header>
    <main></main>
    <footer></footer>
</body>
</html>