---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title='Web Developer and GENIUS'>
	<article class='content'>
		<h1 class='title'>Brandon Martin</h1>
		<h2 class='subtitle h4'>
			Web Developer and <span class='special'>GENIUS</span>
		</h2>
		<p>
			Need a website?<br />Have a broken website that needs fixed?<br /><br />I can help.
		</p>
	</article>
</PageLayout>

<style>
	.title {
		margin-top: 3rem;
	}
	.subtitle {
		margin-bottom: 3rem;
	}
</style>
