---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title='Now'>
	<h1>Now</h1>
	<p>A small summary of what I'm up to right now.</p>
</PageLayout>

<style>
	.h5 {
		margin: 10px 0 50px;
	}
</style>
