---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout title='Uses'>
  <h1>Uses</h1>
  <p>
    This page is just a small overview of the software/products I use on a daily/frequent basis.
  </p>
  <h2 class='h5'>Software</h2>
  <ul>
    <li>
      <a target='_blank' href='https://code.visualstudio.com/'>VS Code</a> for code editing and
      integrated terminal.
    </li>
    <li>
      <a target='_blank' href='https://codeium.com/'>Codeium</a> for AI assistance in VS Code.
    </li>
    <li>
      <a target='_blank' href='https://open.spotify.com/'>Spotify</a> for music.
    </li>
    <li>
      <a target='_blank' href='https://github.com/brandonmartin101'>Git and Github</a> for version
      control.
    </li>
    <li>
      <a target='_blank' href='https://todoist.com/'>Todoist</a> and <a
        target='_blank'
        href='https://trello.com/'>Trello</a
      > for my to-do lists.
    </li>
  </ul>
  <h2 class='h5'>Hardware</h2>
  <ul>
    <li>
      <a target='_blank' href='https://www.wyze.com/products/wyze-headphones'>Wyze Headphones</a>
      for music.
    </li>
    <li>
      <a target='_blank' href='https://www.techradar.com/reviews/dell-latitude-7490'
        >Dell Latitude 7490</a
      >. It's fine.
    </li>
    <li>
      <a
        target='_blank'
        href='https://www.microsoft.com/en/accessories/products/keyboards/sculpt-ergonomic-desktop?activetab=pivot:overviewtab'
        >Sculpt Ergonomic Keyboard</a
      > due to a wrist injury.
    </li>
    <li>
      <a target='_blank' href='https://www.amazon.com/gp/product/B0829CVTVQ/'
        >Adjustable standing desk</a
      > so I can sit/stand as needed.
    </li>
    <li>
      <a target='_blank' href='https://www.amazon.com/gp/product/B09368W3XL/'>Walking pad</a> that
      fits under my standing desk.
    </li>
  </ul>
</PageLayout>

<style>
  h2 {
    margin: 30px 0 0;
  }
  ul {
    list-style-type: none;
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  li {
    margin: 10px 0;
  }
</style>
