---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title='Uses'>
	<h1>Uses</h1>
	<p>This page is just a small overview of the software/products I use on a daily/frequent basis.</p>
</PageLayout>
