<!-- <footer class='footer' transition:persist> -->
<footer class='footer' hidden>
	<span class='tools-attribution'
		>Built with <a href='https://astro.build/' target='_blank' rel='noopener noreferrer'>Astro</a></span
	>
	<button class='theme-switcher'>Change Theme</button>
</footer>

<style>
	footer {
		box-shadow: 0 0 5px #2224;
	}
</style>
