---
---
<footer class='footer'>
    <button class='theme-switcher'>Change Theme</button>
    <span class='tools-attribution'>Built with <a href='https://astro.build/' target='_blank' rel='noopener noreferrer'>Astro</a></span>
    <button class='night-switcher'>Night Mode</button>
</footer>