---
const logoSeed = Math.random() * Math.random();
const logo = `//avatars.dicebear.com/api/pixel-art/${logoSeed}.svg?beard=variant01&beardProbability=100&hairProbability=0&accessoriesProbability=0&hatProbability=0&skinColor=variant02`;
---
<header class="header">
    <div class="logo-wrapper">
        <img src={logo} alt="Brandon Martin" class="logo header-logo">
        <p class="white">Brandon Martin</p>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="/about" class="nav-link white">/about</a></li>
            <li><a href="/uses" class="nav-link white ">/uses</a></li>
            <li><a href="/now" class="nav-link white">/now</a></li>
        </ul>
    </nav>
    <canvas class="header-background" />
    <script is:inline src="https://cdn.jsdelivr.net/gh/greentfrapp/pocoloco@minigl/minigl.js"></script>
    <script is:inline>
        const gradient = new Gradient();
        gradient.initGradient(".header-background");
    </script>
</header>