---
const { logo } = Astro.props;
---

<header class='header'>
	<div class='logo-wrapper'>
		<a href='/' class='nav-link'>
			<img class='logo' src={logo} alt='Brandon Martin' />
			<p class='white'>Brandon Martin</p>
		</a>
	</div>
	<nav class='navigation'>
		<ul>
			<li><a href='/about' class='nav-link'>/about</a></li>
			<li><a href='/projects' class='nav-link'>/projects</a></li>
			<li><a href='/uses' class='nav-link'>/uses</a></li>
		</ul>
	</nav>
</header>

<style>
	.header {
		width: 100%;
		background: #222;
		box-shadow: 0 0 5px #222;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		font-size: 1.4rem;
		font-weight: bold;
		margin: 0;
		padding: 0 20px;
		overflow: hidden;
		position: relative;
		@media (max-width: 600px) {
			& {
				font-size: 1rem;
				padding: 0 12px;
			}
		}
	}
	.header::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 0;
		background: linear-gradient(to right, #158a15, #4805ba);
	}
	a,
	a:focus,
	a:hover,
	a:visited {
		color: white;
	}
	ul {
		display: flex;
		flex-direction: row;
		gap: 12px;
		@media (max-width: 600px) {
			& {
				flex-direction: column;
				gap: 4px;
			}
		}
	}
	li {
		list-style-type: none;
	}
	.logo-wrapper,
	.navigation {
		z-index: 1;
	}
	.logo {
		margin: 0 auto;
		max-width: 80px;
		max-height: 80px;
		height: 80px;
	}
</style>
