---
import { ClientRouter } from 'astro:transitions';
const { title, favicon, addScript } = Astro.props;
---

<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<script is:inline>
		(function() {
			var theme = localStorage.getItem('theme');
			if (!theme) {
				theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
			}
			document.documentElement.setAttribute('data-theme', theme);
		})();
	</script>
	<meta name='generator' content={Astro.generator} />
	<link rel='icon' type='image/svg+xml' href={favicon} />
	<title>{title}</title>
	<meta name='description' content='Brandon Martin is a full-stack web developer specializing in Laravel, Vue, React, and .NET, located just northwest of Milwaukee.' />
	<meta name='author' content='Brandon Martin' />
	<meta name='keywords' content='brandon, martin, brandon martin, full-stack web developer, laravel, vue, react, .net, dotnet, hartford, wisconsin' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta property='og:title' content='Brandon Martin | Web Developer' />
	<meta property='og:description' content='Brandon Martin is a full-stack web developer specializing in Laravel, Vue, React, and .NET, located just northwest of Milwaukee.' />
	<meta name='twitter:site' content='@toptal' />
	<meta name='twitter:card' content='summary_large_image' />
	<link rel='sitemap' href='/sitemap-index.xml' />
	<ClientRouter />
	<script src={addScript}></script>
</head>
