---
// get all site links
let sitemapLinks = ['', 'about', 'uses', 'now', 'projects']
---

<ul class='sitemap'>
  {
    sitemapLinks.map((sitemapLink) => (
      <li>
        <a href={'/' + sitemapLink}>/{sitemapLink}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    width: 100%;
    max-width: 500px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  li {
    margin: 0 20px;
  }
</style>
