---
import PageLayout from '../../../layouts/PageLayout.astro'
---

<PageLayout title='Tic-Tac-Toe Game'>
  <h1>Type Rain</h1>
  <p>Letters fall from the sky. Type the letter to block the rain</p>
</PageLayout>
