---
import PageLayout from '../../layouts/PageLayout.astro'
---

<PageLayout title='Now'>
  <h1>Projects</h1>
  <p>Collection of projects I've worked on.</p>
  <section class='games'>
    <h2>Tools</h2>
    <a href='./to-do-list'>/to-do-list</a>
    <a href='./markdown-editor'>/markdown-editor</a>
    <h2>Games</h2>
    <a href='./space-game'>/space-game</a>
    <a href='./ro-sham-bo'>/ro-sham-bo</a>
    <a href='./runner'>/runner</a>
    <a href='./tic-tac-toe'>/tic-tac-toe</a>
    <a href='./blackjack'>/blackjack</a>
    <a href='./typer-ain'>/typer-ain</a>
  </section>
</PageLayout>

<style>
  section {
    max-width: 500px;
    margin: 20px auto;
  }
  a {
    margin: 5px 20px;
    display: inline-block;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
